@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family:'Lato', sans-serif;
}

body{
	font-family:'Lato', sans-serif;
	margin:auto;
}

/*INICIO CABECALHO*/

header{
	background:#ffffff;
	width:100%;
}

#header_conteudo{
	width:960px;
	height:70px;
	margin:auto;
}

#logo{
	width:320px;
	height:auto;
	float:left;
}

#logo img{
	width:124px;
	height:34px;
	margin:18px 0px;
}

#menu{
	width:430px;
	float:left;
}
nav{
	width:430px;
	padding:24px 0px;
}

nav ul{
	float:left;
}

nav ul li{
	display:inline;
	margin:0 30px;
}

nav ul li a{
	color:#3c3c3c;
	text-transform:uppercase;
	font-size:18px;
	text-decoration:none;
	font-weight:400;
}

#idioma{
	width:34px;
	height:auto;
	float:left;
}

#idioma img{
	width:32px;
	height:32px;
	margin:18px 0px;
}

#login{
	width:125px;
	height:30px;
	margin:18px 0px;
	float:right;
	border:2px solid #005a9a;
}

#login p{
	font-size:18px;
	font-weight:400;
	color:#005a9a;
	padding:3px 0px 0px 34px;
}

#login a{
	text-transform:uppercase;
	font-size:18px;
	text-decoration:none;
	font-weight:400;
}

#login p:hover{
	text-transform:uppercase;
	font-size:18px;
	text-decoration:none;
	font-weight:300;
	color:#ffffff;
}

#login:hover{
	background-color:#005a9a;
}

/*FIM CABECALHO*/



/*INICIO CONTATO*/

#principal{
	width:100%;
	height:1000px;
	background-color:#eaf6fe;
}

#contato{
	width:830px;
	padding-top:120px;
	background-color:#eaf6fe;
	margin:auto;
}

#contato_descricao{
	width:330px;
	float:left;
}

#contato_descricao h2{
	font-size:24px;
	line-height:32px;
	font-weight:400;
	color:#005a9a;
}

#contato_descricao h4{
	font-size:16px;
	font-weight:400;
	color:#eaf6fe;
}

#contato_descricao p{
	font-size:18px;
	line-height:30px;
	font-weight:300;
	color:#3c3c3c;
}


#contato_formulario{
	width:330px;
	float:right;
}

#contato_formulario form{
	width:325px;
	broder:none;
	padding:0px 0px 0px 0px;
}

#contato_formulario form h4{
	font-size:16px;
	font-weight:300;
	color:#3c3c3c;
}

#contato_formulario form input{
	font-size:14px;
	color:#3c3c3c;
	background-color:#eaf6fe;
	width:325px;
	border:none;
	padding:5px 0px;
	margin:0px 0px 25px 0px;
	border-bottom:1px solid #005a9a;
}

#contato_formulario form select{
	width:329px;
	height:30px;
	border:2px solid #005a9a;
}


input [type=text], input [type=email], input [type=submit], label, select{
	background-color:#eaf6fe;
	font-size:14px;
	padding:5px 5px;
	font-weight:300;
	color:#3c3c3c;
	margin:10px 0px 25px 0px;	
}

textarea{
	width:327px;
	font-size:14px;
	color:#3c3c3c;
	background-color:#eaf6fe;
	padding:5px 5px;
	border:1px solid #005a9a;
	margin:10px 0px 0px 0px;
}

/*FIM CONTATO*/




/*INICIO RODAPE*/

#rodape{
	width:100%;
	height:195px;
	background-color:#1e1d1b;
}
#rodape_conteudo{
	width:960px;
	margin:auto;
}

#novidades{
	width:340px;
	float:left;
}

#novidades h3{
	font-size:14px;
	color:#ffffff;
	font-weight:300;
}

#novidades form{
	font-size:14px;
	color:#3c3c3c;
	background-color:#eaf6fe;
	width:300px;
	padding:5px 0px;
	margin:0px 0px 25px 0px;
	border:1px solid #005a9a;
}

#contato{
	width:490px;
}

#contaot h3{

}

#app{
	width:130px;
	float:right;
}

#app h3{

}

#app ul{

}

#app ul li{

}
/*FIM RODAPE*/